*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
@font-face {
  font-family: "Ubuntu";
  src:   url(../../../public/fonts/Ubuntu-vf.ttf) format("truetype"),

}

:root {
  --color-primary-background:#211245;
  --color-secundary-background:#FDA901;
  --color-secundary-ligth:#FFD88A;
  --color-dashboard-group1:#FFFCF3;
  --color-icons-dasboard-group1:#E5A000;

  --color-dashboard-group2:#F6F2FF;
  --color-icons-dashboard-group2:#211245;
}

body {
  margin: 0 ;
  display: flex;
  width: 100%;
  height: 100vh;
  font-family: "Ubuntu";
  background-color: rgba(0, 0, 0, 0.212);

}

#app {
  display: flex;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to left,
  #FDA901 35% 35%,
  #211245 35% 65%);
}
