*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
:root {
  --color-primary-background:#211245;
  --color-secundary-background:#FDA901;
  --color-primary-button:#FFD88A;
  --color-dashboard-group1:#FFFCF3;
  --color-icons-dasboard-group1:#E5A000;

  --color-dashboard-group2:#F6F2FF;
  --color-icons-dashboard-group2:#211245;
}

body {
  margin: 0 ;
  display: flex;
  min-height: 100vh;
  background: linear-gradient(to left,
  #FDA901 35% 35%,
  #211245 35% 65%);
}

#app {
  margin: 0;
  display: flex;
  max-height: 100vh;
  width: 100%;
}
