.section{
    /* background-color: rgba(137, 43, 226, 0.11); */
    padding: 5%;
    display: grid;
    grid-template-areas: "card carousel" "list list" ;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 2rem;
}

.section__carousel{
    grid-area: carousel ;
}
.section__text-card{
    grid-area: card;
    display: flex;
    justify-content: flex-end;
}
.section__list-items{
    grid-area: list;
    padding: 1%;
}